<%= partial(:'components/nav', :template_engine => :erb) %>

<div id="profile_main">
  <img src="/images/<%= @user.image %>">

  <% if current_user && @user.id == current_user.id %>
  <!-- upload image button -->
  <form action="/users/upload_image" method="POST" enctype="multipart/form-data">
    <input type="file" name="file_data">
    <input type="submit" value="Upload image">
  </form>
  <% end %>

  <h1>
  <%= @user.user_name %>
  </h1>
<!-- if current user's profile, will display an 'Add Item' button -->
  <div class="full_width_container">


    <!-- lists all available items from user -->
    <h3>Available items:</h3>
    <div id="user_items">
      <% @items.each do |item| %>
        <% unless item.loan %>
          <div class="item">
            <div class="item_image_holder">
              <a href="/items/<%= item.id %>"><img src="/images/<%= item.image %>"></a>
            </div>
            <div class="name">
              <%= item.name %>
            </div>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>

  <div class="full_width_container">
    <% if current_user && current_user.id == @user.id %>
      <a href="/items/new">Add an item</a>
    <% end %>
  </div>

  <div class="full_width_container">
    <!-- lists all items that are currently on loan -->
    <h3>Currently On Loan:</h3>
    <% @items.each do |item| %>
      <% if item.loan %>
        <p>
          <a href="/items/<%= item.id %>"><%= item.name %></a>
          <br />
          Lent On:
          <%= item.loan.checkout %>
            <br />
            To: <a href="/users/<%= item.loan.user_id %>"><%= item.loan.user.user_name %></a>
        </p>
      <% end %>
    <% end %>
  </div>

  <div class="full_width_container">
    <!-- if current user's profile, lists all items they are borrowing -->
    <% if current_user && current_user.id == @user.id %>
      <h3>I Am Currently Borrowing:</h3>
      <% current_user.loans.each do |loan| %>
        <p>
          <a href="/items/<%= loan.item.id %>"><%= loan.item.name %></a>
          <br />
          Borrowed:
          <%= loan.checkout %>
          <br />
          From:
          <a href="/users/<%= loan.item.user_id %>"><%= loan.item.user.user_name %></a>
        </p>
      <% end %>
    <% end %>
  </div>

  <!--if not the current users profile, will display a 'back to profile' button -->
  <!-- <% if current_user && current_user.id != @user.id %>
    <p>
      <a href="/users/<%=current_user.id%>">Back To My Profile</a>
    </p>
  <% end %> -->

  <!-- other users button 
  <p>
    <a href="/users">Other Users</a>
  </p>-->

  <!-- logout button 
  <p>
    <a href="/logout">Logout</a>
  </p>-->

  <!-- delete profile button 
  <% if current_user && current_user.id == @user.id %>
    <p>
      <a href="/users/delete">Delete profile</a>
    </p>
  <% end %> -->
</div>