<h1>
<%= current_user.user_name %>
</h1>
<h3>
<%= @user.user_name %>
</h3>

<h3>Available items</h3>
<% @items.each do |item| %>
<% unless item.loan %>
  <a href="/items/<%= item.id %>"><%= item.name %></a>
  <% end %>
<% end %>

<h3>Currently On Loan</h3>
<% @items.each do |item| %>
<% if item.loan %>
  <a href="/items/<%= item.id %>"><%= item.name %></a>
    <br />
    To: <%= item.loan.user.user_name %>
    <br />
    Lent On:
    <%= item.loan.checkout %>
  <% end %>
<% end %>

<% if current_user.id == @user.id %>
  <h3>I Am Currently Borrowing:</h3>
    <% current_user.loans.each do |loan| %>
    <p>
      <%= loan.item.name %>
      <br />
      Borrowed:
      <%= loan.checkout %>
      <br />
      From:
      <%= loan.item.user.user_name %>
    </p>
  <% end %>
<% end %>

<% if current_user.id == @user.id %>
  <p>
    <a href="/items/new">Add an item</a>
  </p>
<% end %>

<% if current_user.id != @user.id %>
  <p>
    <a href="/users/<%=current_user.id%>">Back To My Profile</a>
  </p>
<% end %>

<p>
  <a href="/users">Other Users</a>
</p>

<p>
<a href="/logout">Logout</a>
</p>