<h1>
<%= current_user.user_name %>
</h1>
<h3>
<%= @item.user.user_name %>'s
</h3>
<h3>
<%= @item.name %>
</h3>

<p>
  <%= @item.description %>
</p>

<!-- can only borrow an item if it is not already lent out, and not your item -->
<% unless @item.loan || @item.user_id == current_user.id %>
  <form action="/items/<%= @item.id %>/borrow" method="POST">
    <input type="submit" value="Borrow" />
  </form>
<% end %>

<!-- can confirm return of item if it is loaned out and it is yours -->
<% if @item.loan && @item.user_id == current_user.id %>
  <form action="/items/<%= @item.id %>/return" method="POST">
    <input type="submit" value="Returned" />
  </form>
<% end %>


<p>
  <a href="/users/<%=current_user.id%>">Back To My Profile</a>
</p>

<p>
  <a href="/users">Other Users</a>
</p>

<p>
<a href="/logout">Logout</a>
</p>