<h1>
<%= current_user.user_name %>
</h1>
<h3>
<%= @item.user.user_name %>
</h3>
<h3>
<%= @item.name %>
</h3>

<% @item.description %>
<a href="/items/<%= item.id %>"><%= item.name %></a>

<p>
  <a href="/users">Other Users</a>
</p>

<p>
<a href="/logout">Logout</a>
</p>