<h4>
<%= current_user.user_name %>
</h4>
<h1>
<%= @item.user.user_name %>'s <%= @item.name %>
</h1>

<img src="/images/<%= @item.image %>">

<% if @item.user_id == current_user.id %>
<!-- upload image button -->
<form action="/items/<%= @item.id %>/upload_image" method="POST" enctype="multipart/form-data">
  <input type="file" name="file_data">
  <input type="submit" value="Upload image">
</form>
<% end %>

<p>
  <%= @item.description %>
</p>

<!-- can only borrow an item if it is not already lent out, and not your item -->
<% unless @item.loan || @item.user_id == current_user.id %>
  <form action="/items/<%= @item.id %>/borrow" method="POST">
    <input type="submit" value="Borrow" />
  </form>
<% end %>

<!-- can confirm return of item if it is loaned out and it is yours -->
<% if @item.loan && @item.user_id == current_user.id %>
  <form action="/items/<%= @item.id %>/return" method="POST">
    <input type="submit" value="Returned" />
  </form>
<% end %>


<p>
  <a href="/users/<%=current_user.id%>">Back To My Profile</a>
</p>

<p>
  <a href="/users">Other Users</a>
</p>

<p>
<a href="/logout">Logout</a>
</p>